@import 'colors';

.hover-none {
    &:hover {
        text-decoration: none;
    }
}

.button {
    color: $text-color1;
    background-color: transparent;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: box-shadow 200ms ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, .35);
        text-decoration: none;
    }

    &.button-border {
        border-color: $text-color1;
    }

    &.button-opaque15 {
        background-color: rgba(0, 0, 0, .15);
    }

    &.button-spotify {
        display: flex;
        align-items: center;
        font-size: 1.2em;
        font-weight: 400;
        color: #1ed760;
        background-color: #212121;
        position: relative;

        span {
            margin-left: 5px;

            &.name {
                margin-left: 10px;
                font-weight: 300;
            }
        }

        img {
            width: auto; height: 100%; max-height: 20px;
            border-radius: 50%;
        }
    }
}

input[type="email"], input[type="password"] {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 10px 15px;
    width: 300px;
}