$color1: #fafafa; // primary color
$color2: #e0e0e0; // secondary color
$color3: #bdbdbd; // body-bg-color

$text-color1: #212121;

// <body>
$body-bg-color: $color3;

// <header>
$header-bg-color: $color1;
$header-logo-color: $text-color1;

// <footer>
$footer-heart-color: #e91e63;


// /login
$login-bg-color: $color1;
$login-wrapper-bg-color: $color2;