@charset "UTF-8";
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  transition: all 300ms ease-in-out;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #bdbdbd;
}

.hover-none:hover {
  text-decoration: none;
}

.button {
  color: #212121;
  background-color: transparent;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: box-shadow 200ms ease-in-out;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  text-decoration: none;
}
.button.button-border {
  border-color: #212121;
}
.button.button-opaque15 {
  background-color: rgba(0, 0, 0, 0.15);
}
.button.button-spotify {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 400;
  color: #1ed760;
  background-color: #212121;
  position: relative;
}
.button.button-spotify span {
  margin-left: 5px;
}
.button.button-spotify span.name {
  margin-left: 10px;
  font-weight: 300;
}
.button.button-spotify img {
  width: auto;
  height: 100%;
  max-height: 20px;
  border-radius: 50%;
}

input[type=email], input[type=password] {
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 10px 15px;
  width: 300px;
}

body {
  background-color: #bdbdbd;
  margin-top: 80px;
}

header {
  display: grid;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fafafa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  height: 80px;
  z-index: 1;
}
header > .container {
  display: grid;
  width: 100%;
  max-width: 1400px;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0 auto;
  padding: 15px 0;
}
header > .container > .logo > a {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: center;
  color: #212121;
  padding: 0 15px;
}
header > .container > .logo > a:hover {
  text-decoration: none;
}
header > .container > .logo > a:hover span:nth-child(2):before {
  opacity: 1;
}
header > .container > .logo > a span {
  font-family: "Alata", sans-serif;
}
header > .container > .logo > a span:first-child {
  font-size: 2em;
}
header > .container > .logo > a span:nth-child(2) {
  margin-top: -1px;
  font-size: 0.95em;
  position: relative;
}
header > .container > .logo > a span:nth-child(2):before {
  content: "";
  display: block;
  position: absolute;
  background-color: #212121;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 1px;
  height: 2px;
  opacity: 0;
  transition: opacity 200ms ease-in;
}
header > .container > .menu {
  justify-self: end;
  padding-right: 15px;
  font-family: "Alata", sans-serif;
}
header > .container > .menu a {
  color: #212121;
  position: relative;
}
header > .container > .menu a.active:after {
  opacity: 1;
}
header > .container > .menu a i {
  margin-left: 3px;
  font-size: 0.9em;
}
header > .container > .menu a:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #212121;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 2px;
  opacity: 0;
  transition: opacity 200ms ease-in;
}
header > .container > .menu a:hover {
  text-decoration: none;
}
header > .container > .menu a:hover:after {
  opacity: 1;
}
header > .container > .menu .user {
  margin-left: 23px;
  cursor: pointer;
  padding: 7px 12px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  transition: border-color 200ms ease-in;
}
header > .container > .menu .user:hover {
  border-color: #212121;
}
@media only screen and (max-width: 850px) {
  header {
    height: 120px;
  }
  header > .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
  }
  header > .container > .logo > a {
    grid-template-columns: auto auto;
  }
  header > .container > .logo > a span:first-child {
    text-align: right;
  }
  header > .container > .logo > a span:nth-child(2):before {
    display: none;
  }
}

main > .container {
  display: grid;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
main > .container > .home-wrapper {
  padding: 15px;
}
main > .container > .home-wrapper > .spotify-wrapper {
  display: grid;
  padding: 15px;
  min-height: 120px;
  align-items: center;
  grid-gap: 15px;
  background-color: #e0e0e0;
}
main > .container > .home-wrapper > .spotify-wrapper h1, main > .container > .home-wrapper > .spotify-wrapper h2, main > .container > .home-wrapper > .spotify-wrapper h3 {
  font-weight: normal;
}
main > .container > .home-wrapper > .spotify-wrapper .upper-hr {
  padding-top: 15px;
  border-top: 1px solid #212121;
}
main > .container > .home-wrapper > .spotify-wrapper .connected-as {
  font-weight: normal;
  font-size: 1.2em;
}
main > .container > .home-wrapper > .spotify-wrapper .buttons {
  display: flex;
}
main > .container > .home-wrapper > .spotify-wrapper .buttons > * {
  margin-left: 10px;
}
main > .container > .home-wrapper > .spotify-wrapper .buttons > *:first-child {
  margin-left: 0;
}
main > .container > .home-wrapper > .spotify-wrapper .artists h3 {
  margin-bottom: 15px;
}
main > .container > .home-wrapper > .spotify-wrapper .artists .artists-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
main > .container > .home-wrapper > .spotify-wrapper .artists .artists-grid .artist {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 100px;
  grid-gap: 10px;
  background-color: #fafafa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
}
main > .container > .home-wrapper > .spotify-wrapper .artists .artists-grid .artist .image {
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
main > .container > .home-wrapper > .spotify-wrapper .artists .artists-grid .artist .image img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #bdbdbd;
}
main > .container > .home-wrapper > .spotify-wrapper .artists .artists-grid .artist .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main > .container > .home-wrapper > .spotify-wrapper .artists .artists-grid .artist .info .name {
  font-weight: 700;
  color: #212121;
}
main > .container > .home-wrapper > .spotify-wrapper .artists .artists-grid .artist .info ul {
  overflow-y: auto;
  margin: 10px 0;
  list-style: none;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 0.8em;
}
main > .container > .home-wrapper > .spotify-wrapper .playlists h3 {
  margin-bottom: 15px;
}
main > .container > .home-wrapper > .spotify-wrapper .playlists .playlists-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
main > .container > .home-wrapper > .spotify-wrapper .playlists .playlists-grid .playlist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  background-color: #fafafa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
main > .container > .home-wrapper > .spotify-wrapper .playlists .playlists-grid .playlist .image {
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  align-items: start;
  justify-content: center;
}
main > .container > .home-wrapper > .spotify-wrapper .playlists .playlists-grid .playlist .image img {
  width: 100%;
  height: auto;
  border: 1px solid #bdbdbd;
}
main > .container > .home-wrapper > .spotify-wrapper .playlists .playlists-grid .playlist .info {
  padding: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 1.05em;
}
main > .container > .home-wrapper > .spotify-wrapper .playlists .playlists-grid .playlist .info a {
  color: #212121;
}
main > .container > .home-wrapper > .spotify-wrapper .songs h3 {
  margin-bottom: 15px;
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid {
  display: grid;
  grid-template-columns: 1fr;
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid .song {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #fafafa;
  padding: 10px 15px;
  margin: 10px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  align-items: center;
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid .song:first-child {
  margin-top: 0;
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid .song:last-child {
  border-color: transparent;
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid .song .no {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  background-color: #575757;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  font-size: 0.9em;
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid .song .no:after {
  content: ".";
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid .song .artists {
  display: flex;
  margin-left: 40px;
  font-family: "Alata", sans-serif;
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid .song .artists .artist {
  margin-right: 5px;
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid .song .artists .artist:after {
  content: ",";
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid .song .artists .artist:last-child {
  margin-right: 0;
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid .song .artists .artist:last-child:after {
  content: " ";
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid .song .name {
  display: flex;
  margin-top: 2px;
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid .song .name:before {
  padding: 0 5px;
  content: "⎯";
}
main > .container > .home-wrapper > .spotify-wrapper .songs .songs-grid .song .audio {
  align-self: end;
  margin-left: auto;
  outline: none;
}
@media only screen and (max-width: 1100px) {
  main > .container > .home-wrapper > .spotify-wrapper .artists .artists-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1100px) {
  main > .container > .home-wrapper > .spotify-wrapper .playlists .playlists-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 850px) {
  main > .container > .home-wrapper > .spotify-wrapper .artists .artists-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  main > .container > .home-wrapper > .spotify-wrapper .playlists .playlists-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  main > .container > .home-wrapper > .spotify-wrapper .artists .artists-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  main > .container > .home-wrapper > .spotify-wrapper .playlists .playlists-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
main > .container > .account-wrapper {
  padding: 30px;
  background-color: #e0e0e0;
}
main > .container > .account-wrapper > .account-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}
main > .container > .account-wrapper > .account-container > .account {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background-color: #fafafa;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
main > .container > .account-wrapper > .account-container > .account > h2 {
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
}
main > .container > .account-wrapper > .account-container > .account > form {
  text-align: center;
}
main > .container > .account-wrapper > .account-container > .account > form > .form-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  grid-gap: 15px;
  margin: 15px 0;
}
main > .container > .account-wrapper > .account-container > .account > form > .form-container label {
  text-transform: uppercase;
  text-align: left;
  user-select: none;
  cursor: pointer;
}
main > .container > .account-wrapper > .account-container > .account > form > .form-container input[type=email], main > .container > .account-wrapper > .account-container > .account > form > .form-container input[type=password] {
  border-color: #e0e0e0;
}
main > .container > .account-wrapper > .account-container > .account > form > .error-message {
  color: #d32f2f;
  padding-bottom: 10px;
}
main > .container > .account-wrapper > .account-container > .account > form > .button-submit {
  background-color: #bdbdbd;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 35px;
}
main > .container > .contact-wrapper {
  padding: 15px;
}
@media only screen and (max-width: 850px) {
  main {
    padding-top: 40px;
  }
}

footer > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
}
footer > .container .name {
  text-align: left;
}
footer > .container .name > span {
  font-family: "Alata", sans-serif;
}
footer > .container .made-with-love {
  text-align: right;
}
footer > .container .made-with-love .fas {
  color: #e91e63;
  animation: heartbeat 1s infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

/*# sourceMappingURL=style.css.map */
