<div class="contact-wrapper">
    <h2>Get in touch with Us!</h2>
    <ul class="contributors">
        <li>
            <div class="contributor">Andrei Chiperi</div>
            <div class="buttons">
                <a href="https://github.com/chiperiandrei" target="_blank" class="button button-github">
                    <i class="fab fa-github"></i> chiperiandrei
                </a>
                <a href="mailto:andrei.chiperi98@gmail.com?Subject=[ACAV]" target="_top" class="button button-email">
                    <i class="fas fa-envelope"></i> andrei.chiperi98@gmail.com
                </a>
            </div>
        </li>
        <li>
            <div class="contributor">Deny Pătrașcu</div>
            <div class="buttons">
                <a href="https://github.com/denypatrascu" target="_blank" class="button button-github">
                    <i class="fab fa-github"></i> denypatrascu
                </a>
                <a href="mailto:denypatrascu@gmail.com?Subject=[ACAV]" target="_top" class="button button-email">
                    <i class="fas fa-envelope"></i> denypatrascu@gmail.com
                </a>
            </div>
        </li>
        <li>
            <div class="contributor">Paul Tanasă</div>
            <div class="buttons">
                <a href="https://github.com/paul-tanasa" target="_blank" class="button button-github">
                    <i class="fab fa-github"></i> paul-tanasa
                </a>
                <a href="mailto:ptanasa@voxbone.com?Subject=[ACAV]" target="_top" class="button button-email">
                    <i class="fas fa-envelope"></i> ptanasa@voxbone.com
                </a>
            </div>
        </li>
    </ul>
</div>