<div class="description">
    <p>
        ACAV is a web-based application that offers <em>advanced visualization of the music content</em>.
        Information will be taken from the <a href="https://spotify.com" target="_blank">Spotify music service</a>.
        We will retrieve information such as: your favorite songs, your favorite artists as well as their albums.
    </p>
</div>