<div class="container">
    <div class="logo">
        <a href="">
            <span>ACAV</span>
            <span>Audio Content Advanced Visualizer</span>
        </a>
    </div>
    <div class="menu">
        Menu
    </div>
</div>