<!DOCTYPE html>
<html lang="en">
<head>
<%- include('includes/metadata.ejs') %>
</head>
<body>
    <header>
        <%- include('includes/header.ejs') %>
    </header>
    <main>
        <%- include('includes/main.ejs') %>
    </main>
    <footer>
        <%- include('includes/footer.ejs') %>
    </footer>
</body>
</html>