@import '../../colors';

& {
  & > .account-wrapper {
    padding: 30px;
    background-color: $login-wrapper-bg-color;

    & > .account-container {
      display: grid;
      grid-template-columns: auto 1fr ;
      grid-template-rows: 1fr;
      grid-gap: 30px;

      & > .account {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        background-color: $login-bg-color;
        padding: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .15);

        & > h2 {
          font-family: 'Alata', sans-serif;
          text-transform: uppercase;
          font-size: 1.3em;
        }
        & > form {
          text-align: center;

          & > .form-container {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto;
            align-items: center;
            grid-gap: 15px;
            margin: 15px 0;

            label {
              text-transform: uppercase;
              text-align: left;
              user-select: none;
              cursor: pointer;
            }

            input[type="email"], input[type="password"] {
              border-color: $color2;
            }
          }

          & > .error-message {
            color: $color-danger;
            padding-bottom: 10px;
          }

          & > .button-submit {
            background-color: $color3;
            text-transform: uppercase;
            font-weight: 700;
            padding: 10px 35px;
          }
        }
      }
    }


  }
}